@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "./overrides.css";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: "Roboto", "sans-serif";

  --breakpoint-3xl: 1920px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #9c27b0;
  --color-secondary: #1ba3ab;
  --color-agreen: #05d690;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, sans-serif;
}

.transition-200 {
  @apply transform duration-200 ease-in-out;
}

.transition-300 {
  @apply transform duration-300 ease-in-out;
}

.transition-400 {
  @apply transform duration-400 ease-in-out;
}

.transition-500 {
  @apply transform duration-500 ease-in-out;
}
